body{
    background-repeat: no-repeat;
}

nav.navbar > *{
    padding: 5px 15px;
    z-index: 100;
}

nav.navbar > .blur{
    z-index: 0;
    filter: blur(10px);
}

nav.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

nav.navbar div.navbar-nav{
    flex-direction: row;
    justify-content: space-between;
}

nav.navbar div.navbar-nav > a.nav-link{
    margin: 0px 10px;
}

.carousel-item{
    background-image : linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));
    height : 100vh;
}